@import 'colors';
@import 'normalize';

h1, h2, h3, h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    i {
        margin-right: 0.5rem;
    }
}

h1 { color: $header-blue; }
h2 { font-size: 1.2rem; color: $purple; }
h3 { font-size: 1.0rem; }
h4 { font-size: 0.9rem; }

body {
    color: $body-black;
    font-weight: 300;
}

.btn-default {
    background-color: $button-green;
    color: white;
    border: 1px solid $button-green;
    border-radius: 0;
}

.form-control {
    border-radius: 0px;
}

.margin-top {
    margin-top: 1rem;
}

.noborder {
    padding: 0;
    border: 0 !important;
    //border-bottom: 0 !important;
}

.hide {
    display: none;
}

button {
    margin-bottom: 2px;
    border-bottom: solid 2px darken($button-green, 10%);
    i {
        margin-right: 0.5rem;
    }
    &:hover {
        border-color: $button-green;
        background-color: lighten($button-green, 40%);
    }
}

button.btn-sm {
    i {
        margin-right: 0.25rem;
    }
}

@import 'header';
@import 'map';
@import 'data-selector';
@import 'supplemental-graph';
@import 'map-legend';
@import 'map-detail';
@import 'tab-interface';
@import 'rank-graph';