// Add application styles here.

@import 'colors';
@import 'normalize';
//@import 'reset';

html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
    color: $header-blue;
}

h2 {
    color: $header-blue2;
}

body {
    color: $body-black;
    font-family: 'Roboto', sans-serif;
}

.mg-barplot rect.mg-bar.default-bar {
  fill: $button-green;
}

.mg-barplot rect.mg-bar.default-bar.active {
  fill: lighten($button-green, 20%);
}

.btn-default {
  background-color: $button-green;
  color: white;
  border: 1px solid $button-green;
  border-radius: 0;
}

.form-control {
  border-radius: 0px;
}

.viewing {
  margin: 3rem 0rem 2rem;
}

.comment-field {
  margin: 1rem 0rem;
  background-color: f2f2f2;
  > textarea {
    min-height: 10rem;
    min-width: 100%;
  }
}

input.form-control {
    min-width: 350px;
}

select.form-control {
  display: inline;
  width: auto;
  margin: 0 0.5rem;
}

.natural-language-selects {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
  select {
    font-size: 1.2rem;
    height: 2.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 5px;
    padding-right: 25px;
    border: none;
    border-bottom: solid 2px $button-green;
    box-shadow: none;
  }
  button {
    width: 100%;
    margin-bottom: 1rem;
  }
  label.select-arrow {
    margin-left: -30px;
    margin-right: 15px;
    font-size: 1rem;
    color: $button-green;
  }
}

.explanation {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: grey;
}

.margin-top {
  margin-top: 1rem;
}

.navbar {
    margin: 0;
}

.navbar-default {
    background-color: $bc-blue;
    color: $secondary-blue;
    border: 1px solid #003366;
    border-bottom: solid 3px $bc-yellow !important;
    border-radius: 0px;
    .navbar-brand {
      color: white;
    }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus  {
  color: white;
}

nav {
   min-height: 100% - #{$nav-height};
}

.navbar-collapse {
  padding: 0;
}

.noborder {
  padding: 0;
  border: 0 !important;
  //border-bottom: 0 !important;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav {
    min-height: 100%;
    background-color: $bc-blue;
    padding: 0;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    color: $secondary-blue;
    :focus {
      color: white;
    }
  }
}