$ps-gold: #f5bd47;
$bc-blue: #003366;
$bc-white: #f2f2f2;
$bc-yellow: #E6B901;
$header-blue: #305881;
$header-blue2: #2A649A;
$secondary-blue: #C7D6ED;
$body-black: #494949;
$button-green: #45B0A6;

//Heights//
$max-height: 100%;
$nav-height: 50px;
$sidenav-height: #{$max-height} - #{$nav-height} ;

