$ps-gold: #f5bd47;
$yellow: #F7B736;
$bc-white: #f2f2f2;
$header-blue:  #252850;
$purple: #F176F2;
$secondary-blue: #C7D6ED;
$body-black: #494949;
$button-green: #00CAD6;

//Heights//
$max-height: 100%;
$nav-height: 50px;
$sidenav-height: #{$max-height} - #{$nav-height} ;

