header {
    background-color: $yellow;
    color: $secondary-blue;
    border: 1px solid $yellow;
    border-bottom: solid 3px $yellow !important;
    border-radius: 0px;
    max-height: 50px;
    max-width: 100%;
    .brand {
        padding-top: 15px;
        font-size: 15px;
        a {
            color: bisque;
        }
    }
    .title {
        font-size: 20px;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    @media only screen and (max-width:374px) {
    header {
       .col-xs-8 {
           width: 75%;
       }     
    }
 }

@media only screen and (max-width:320px) {
    header {
       .col-xs-8 {
           width: 83.33333%;
       }     
    }
 }
}