#map-legend {

    $map-background-grey: rgb(246, 246, 244);
    $color-width: 25px;
    $scale-width: 50px;
    $font-size: 0.7rem;
    $div-height: 1.1rem;
    $text-margin: 5px;

    font-size: $font-size;
    line-height: $div-height;
    color: black;
    margin-right: 0px;
    width: $color-width;
    position: absolute;
    bottom: 16px + 10px;
    right: $scale-width + $color-width;
    z-index: 1000;
    background-color: $map-background-grey;
    opacity: 1.0;
    text-align: right;
    
    .colors,
    .values {
        > div {
            height: $div-height;
        }
    }
    .colors {
        > div {
            opacity: 0.5;
            border-top: solid black 1px;
            border-right: solid black 1px;
            // border-left: solid black 1px;
            &:first-child {
                border-top: none;
            }
        }
        > div.half-height {
            height: $div-height/2;
            border-left: solid black 1px;
            border-right: none;
            &:first-child {
                border-top: solid black 1px;
            }
            &:last-child {
                border-bottom: solid black 1px;
            }
        }
    }
    .values {
        > div {
            width: $scale-width;
            text-align: left;
            background-color: rgb(246, 246, 244);
            padding-left: $text-margin;
            border-right: solid rgba(0, 0, 0, 0.5) 1px;
            &:first-child {
                border-top: solid rgba(0, 0, 0, 0.5) 1px;
            }
            &:last-child {
                border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
            }
        }
        position: absolute;
        top: 0;
        left: $color-width;
    }
}